<div class="btn-group mr-2" role="group">
  <button (click)="logOut()"  class="btn btn-success" >Wyloguj się</button>
</div>
<div class="row">
  <div class="col-sm">
    <get-balance-change-in-period></get-balance-change-in-period>
  </div>
  <div class="col-sm">
    <get-number-of-passengers></get-number-of-passengers>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <get-number-of-rides></get-number-of-rides>
  </div>
  <div class="col-sm">
    <get-user-types></get-user-types>
  </div>
</div>
